<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'pages/menu.html' %}
    <h1 style="color:blueviolet">Details</h1>
    <p>
        <a href="/detallesdepartamento?id=10">Detalles 10</a>
    </p>
    <p>
        <a href="/detallesdepartamento?id=20">Detalles 20</a>
    </p>
    <p>
        <a href="/detallesdepartamento?id=30">Detalles 30</a>
    </p>
    <hr/>
    <p>Número: {{ departamento.numero }}</p>
    <p>Nombre: {{ departamento.nombre }}</p>
    <p>Localidad: {{ departamento.localidad }}</p>
</body>
</html>