<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'pages/menu.html' %}
    <h1>Delete departamento</h1>
    <form method="post">
        {% csrf_token %}
        <label>Id departamento</label>
        <input type="number" name="cajanumero"/>
        <button>
            Delete 
        </button>
    </form>
    <h2 style="color:red">{{mensaje}}</h2>
</body>
</html>