<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'pages/menu.html' %}
    <h1 style="color:blue">
        Empleados departamento
    </h1>
    <form method="post">
        {% csrf_token %}
        <label>Seleccione departamento:</label>
        <select name="iddepartamento">
            {% for dept in departamentos %}
            <option value="{{dept.numero}}">{{dept.nombre}}</option>
            {% endfor %}
        </select>
        <button>
            Buscar empleados
        </button>
    </form>
    <table border="1">
        <tr>
            <th>Apellido</th>
            <th>Oficio</th>
            <th>Salario</th>
            <th>Departamento</th>
        </tr>
        {% for emp in empleados %}
        <tr>
            <td>{{emp.apellido}}</td>
            <td>{{emp.oficio}}</td>
            <td>{{emp.salario}}</td>
            <td>{{emp.departamento}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>