<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'pages/menu.html' %}
    <h1>Hospitales</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Camas</th>
        </tr>
        {% for h in hospitales %}
        <tr>
            <td>{{h.idHospital}}</td>
            <td>{{h.nombre}}</td>
            <td>{{h.direccion}}</td>
            <td>{{h.telefono}}</td>
            <td>{{h.camas}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>