<style>
    .menu {
        display: table;
        margin: 0 auto;
        font-size: larger;
    }
</style>
<div class="menu">
    <a href="/">Home</a> | 
    <a href="/departamentos">Departamentos</a> | 
    <a href="/hospitales">Hospitales</a> | 
    <a href="/insertardept">Insertar departamento</a> | 
    <a href="/deletedepartamento">Delete departamento</a> | 
    <a href="/updatedepartamento">Update departamento</a> | 
    <a href="/detallesdepartamento">Detalles departamento</a> | 
</div>
<hr/>