<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'informacion/menu.html' %}
    <h1>Insertar dept</h1>
    <form method="post">
        {% csrf_token %}
        <label>Introduzca número</label>
        <input type="number" name="cajanumero"/><br/>
        <label>Nombre</label>
        <input type="text" name="cajanombre"/><br/>
        <label>Localidad</label>
        <input type="text" name="cajalocalidad"/><br/>
        <button>
            Insertar
        </button>
    </form>    
</body>
</html>